html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .conteneur {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 .rubiks-cube {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
  }
  
 .bleu {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  
  .rouge {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  
  .vert {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  /*Animation spin*/
@keyframes tourne {
  from{ transform:rotate(0deg) rotateY(0deg)}
  to{ transform:rotateX(360deg) rotateY(360deg)}
}